@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

.bg-gray {
    background-color: var(--secondary-color);
}

.text-yellow {
    color: var(--primary-color);
}

.brand-name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.brand-name:hover{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.photo{
    border-radius: 50%;
}